@using Day2Day3.Controllers;
@model IEnumerable<Day2Day3.Models.Product>
@{
    ViewData["Title"] = "Details";
}

<h1>Details View</h1>
<p>This is the Details view of the Products controller.</p>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in ProductsController._products)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price)
                </td>
                
            </tr>
        }
    </tbody>
</table>


<a asp-action="Index">Back to Index</a>
